{
  "plugins": [
    "html"
  ],
  "globals": {
    "Polymer": true
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
  },
  "rules": {
    "no-eval": 1,
    "quotes": [2, "single"],
    "semi": [0, "never"],
    "sort-vars": 0
  }
}
